body {
    padding-top: 100px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.eventTitle:hover, .eventTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}


.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.containerGT .navbar-brand {
  height: 80px;
}

.containerGT .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.containerGT .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

#content{
  margin-left: 2%;
  margin-right: 2%;
}
